{% load static %}

<div class="stories">
    <div><img src="{% static 'images/stories_img/me1.jpg' %}" alt=""></div>
    <div><img src="{% static 'images/stories_img/Klaus.png' %}" alt=""></div>
    <div><img src="{% static 'images/stories_img/emma.png' %}" alt=""></div> 
    <div><img src="{% static 'images/stories_img/carryminati.jpg' %}" alt=""></div> 
    <div><img src="{% static 'images/stories_img/santu.jpg' %}" alt=""></div> 
    <div><img src="{% static 'images/stories_img/jack.jpg' %}" alt=""></div> 
    <div><img src="{% static 'images/stories_img/konark.jpg' %}" alt=""></div> 
    <div><img src="{% static 'images/stories_img/sid1.jpg' %}" alt=""></div>
</div>